<!--template index-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="banner_principal">
    <img id="background_video" src="static/img/Fotografía Banner.png">
    <label class="title_font fr_banner" data-aos="fade" data-aos-delay="100" data-aos-once="true">Llevando la excelencia en lubricación a su empresa</label>
</div>
<br>
<div id="servicios_logos">
    <label class="title_font fr_logos" data-aos="fade-up-right" data-aos-delay="300" data-aos-once="true">Soluciones y servicios Confilub</label>
    <br><br><br>
    <div id="logos" class="row row-cols-12">
        <div class="col-3" data-aos="flip-left" data-aos-delay="400" data-aos-once="true">
            <span class="dot">
                <img class="logo_serv" src="static/icons/consultoria icon.png">
            </span>
            <br><br>
            <label class="title_serv">Consultoría y acompañamiento.</label>
        </div>
        <div class="col-3" data-aos="flip-left" data-aos-delay="500" data-aos-once="true">
            <span class="dot">
                <img class="logo_serv" src="static/icons/mantenimiento icon.png">
            </span>
             <br><br>
            <label class="title_serv">Mantenimiento de sistemas y lubricantes.</label>
        </div>
        <div class="col-3" data-aos="flip-left" data-aos-delay="600" data-aos-once="true">
            <span class="dot">
                <img class="logo_serv" src="static/icons/entrenamientos icon.png">
            </span>
             <br><br>
            <label class="title_serv">Entrenamientos y certificaciones.</label>
        </div>
        <div class="col-3" data-aos="flip-left" data-aos-delay="700" data-aos-once="true">
            <span class="dot">
                <img class="logo_serv" src="static/icons/handyman.png">
            </span>
             <br><br>
            <label class="title_serv">Servicios adicionales.</label>
        </div>
    </div>
</div>

<br><br><br>
<div id="serv_one">
    <div class="surface row row-cols-12">
        <div class="col-1"></div>
        <div class="col-4">
            <img class="salts" src="static/img/Foto consultoria.png" width="118%" data-aos="zoom-in-up" data-aos-delay="150" data-aos-once="true">
        </div>
        <div class="col-1"></div>
        <div class="col-5 salts_text">
            <label class="title_font fr_serv_one" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">Consultoría especializada y acompañamiento experto</label>
            <br><br>
            <p class="par_serv" data-aos="flip-up" data-aos-delay="200" data-aos-once="true">
                Realizamos exhaustivos diagnósticos de campo para identificar mejoras potenciales en los procesos de lubricación de su maquinaria. 
                Este enfoque proactivo nos permite crear un servicio personalizado de acuerdo con su operación.
            </p>
            <label class="fases" data-aos="zoom-out-right" data-aos-delay="200" data-aos-once="true">Fases</label>
            <br><br>
            <div class="logos_fas row row-cols-3">
                <div class="col" data-aos="fade-down-right" data-aos-delay="300" data-aos-once="true">
                    <span class="dot_fas logo_one">
                        <img class="logo_fas" src="static/icons/mystery.png">
                    </span>
                    <label>&nbsp;&nbsp;Identificación</label>
                </div>
               <div class="col" data-aos="fade-down-right" data-aos-delay="400" data-aos-once="true">
                    <span class="dot_fas logo_two">
                        <img class="logo_fas" src="static/icons/stylus_note.png">
                    </span>
                    <label>&nbsp;&nbsp;Diseño de <br>&nbsp;&nbsp;soluciones </label>
               </div>
                <div class="col" data-aos="fade-down-right" data-aos-delay="500" data-aos-once="true">
                    <span class="dot_fas logo_three">
                        <img class="logo_fas_bh" src="static/icons/beenhere.png">
                    </span>
                    <label style="position: absolute;">&nbsp;&nbsp;Implementación</label>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <label class="title_font fr_logos alineamiento" data-aos="flip-down" data-aos-delay="600" data-aos-once="true">
        Maximice la eficiencia y la confiabilidad de su maquinaria a través de nuestros programas de lubricación.
    </label>
    <br><br><br>
    <div class="row row-cols-12">
        <div class="col-6 margen_rec">
            <div class="rectangulo" data-aos="flip-right" data-aos-delay="700" data-aos-once="true">
                <img class="logo_fas_bh" src="static/icons/cancel.png">
                <label class="fr_rec">Reducimos la posibilidad <br>de malas prácticas.</label>
            </div>
            <br>
            <div class="rectangulo" data-aos="flip-right" data-aos-delay="800" data-aos-once="true">
                <img class="logo_fas_bh_two" src="static/icons/emoji_objects.png">
                <label class="fr_rec_two">Aseguramos una <br>implementación efectiva <br>en un programa de <br>lubricación.</label>
            </div>
        </div>
        <div class="col-6">
            <label class="title_font fr_serv" data-aos="zoom-in-up" data-aos-delay="700" data-aos-once="true">
                ¿Por qué elegir nuestra consultoría especializada en lubricación industrial?
            </label>
            <br><br>
            <p class="par_serv" data-aos="zoom-out-up" data-aos-delay="700" data-aos-once="true">
                Ofrecemos soluciones que resuelven los problemas actuales y anticipan futuros desafíos. Nuestra consultoría es respaldada por 
                años de experiencia y una pasión inigualable por la excelencia en lubricación industrial. Cada cliente recibe siempre un tratamiento 
                personalizado para satisfacer sus necesidades particulares.
            </p>
            <br>
            <button class="btn btn_serv" data-aos="flip-left" data-aos-delay="700" data-aos-once="true">Ver más</button>
        </div>
    </div>
</div>

<br><br><br>
<div id="serv_two">
    <div class="surface row row-cols-12">
        <div class="col-2"></div>
        <div class="col-5 salts_text">
            <label class="title_font fr_serv_two" data-aos="fade-down-right" data-aos-delay="100" data-aos-once="true">
                Mantenimiento especializado para sistemas y lubricantes hidráulicos
            </label>
            <br><br><br>
            <p class="par_serv alin_fr" data-aos="flip-left" data-aos-delay="100" data-aos-once="true">
                La salud de sus sistemas hidráulicos depende en gran medida de un mantenimiento adecuado del aceite.
            </p>
            <br><br><br>
            <p class="par_serv alin_fr" style="font-weight: bold;" data-aos="zoom-in-right" data-aos-delay="100" data-aos-once="true">
                Desde el diseño del programa hasta <br>la ejecución.
            </p>
            <span class="dot_serv_two" data-aos="fade-up-left" data-aos-delay="100" data-aos-once="true">
                <img class="logo_serv_two" src="static/icons/Ejecición icon.png">
            </span>
            <br>
            <button class="btn btn_serv_two" data-aos="flip-right" data-aos-delay="100" data-aos-once="true">Ver más</button>
        </div>
        <div class="col-4">
            <img class="salts" src="static/img/foto mantenimiento.png" width="420px" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
        </div>
    </div>
    <br><br>
    <label class="title_font fr_logos alineamiento" data-aos="fade-up-left" data-aos-delay="200" data-aos-once="true">
        Garantizando la eficiencia de sus sistemas hidráulicos con cuidado profesional a través del aceite.
    </label>
    <br><br><br>
    <div class="row row-cols-10" style="margin-left: -18%; margin-right: -21%;">
        <div class="col-4" style="padding-left: 6%;">
            <label class="title_font fr_serv_one" data-aos="flip-up" data-aos-delay="200" data-aos-once="true">
                Limpieza profunda y eliminación de residuos a depósitos hidráulicos: 
            </label>
            <br><br>
            <p class="par_serv" data-aos="flip-down" data-aos-delay="200" data-aos-once="true">
                Garantizamos un depósito impecable,  bajo las mejores prácticas. Nuestro enfoque principal es habilitar depósitos 
                con los estándares más altos y garantizar un rendimiento óptimo. 
            </p>
        </div>
        <div class="col-1">
            <img class="salts" src="static/img/IMG-20220222-WA0000 2.png" width="250px" data-aos="zoom-in-up" data-aos-delay="200" data-aos-once="true">
        </div>
        <div class="col-4" style="padding-left: 11%;">
            <label class="title_font fr_serv_one" data-aos="flip-up" data-aos-delay="200" data-aos-once="true">Filtración avanzada</label>
            <br><br>
            <p class="par_serv" data-aos="flip-down" data-aos-delay="200" data-aos-once="true">
                La filtración de lubricantes hidráulicos es crucial para garantizar el rendimiento óptimo de los sistemas, ya que 
                elimina partículas contaminantes que pueden provocar desgastes prematuros y fallas.
            </p>
            <!--<p class="par_serv" style="font-weight: bold;" data-aos="flip-left" data-aos-delay="200" data-aos-once="true">
                Mantener un depósito limpio reduce el riesgo, mejora la eficiencia del sistema y asegura un alto rendimiento.
            </p>-->
        </div>
        <div class="col-1">
            <img class="salts" src="static/img/IMG-20220222-WA0000 2.png" width="250px" data-aos="zoom-in-up" data-aos-delay="200" data-aos-once="true">
        </div>
    </div>
    <br><br><br>
    <div class="surface_benef row row-cols-12">
        <label class="title_font fr_benf" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">Beneficios</label>
        <div class="col-4" data-aos="zoom-in-left" data-aos-delay="400" data-aos-once="true">
            <img src="static/icons/extension.png"><br>
            <label class="tit_benef">Adaptabilidad</label>
        </div>
        <div class="col-4" data-aos="zoom-in-left" data-aos-delay="500" data-aos-once="true">
            <img src="static/icons/savings.png"><br>
            <label class="tit_benef">Ahorros</label>
        </div>
        <div class="col-4" data-aos="zoom-in-left" data-aos-delay="600" data-aos-once="true">
            <img src="static/icons/nest_found_savings.png"><br>
            <label class="tit_benef">Sustentabilidad</label>
        </div>
    </div>
</div>

<br><br>
<div id="serv_three">
    <label class="title_font fr_logos alineamiento" data-aos="zoom-in-left" data-aos-delay="100" data-aos-once="true">
        Mantener un depósito limpio reduce el riesgo, mejora la eficiencia del sistema y asegura un alto rendimiento.
    </label>
    <br><br><br>
    <div class="surface row row-cols-12">
        <div class="col-1"></div>
        <div class="col-4">
            <img src="static/img/Fotografia Entrenamientos.png" width="118%" data-aos="flip-up" data-aos-delay="200" data-aos-once="true">
        </div>
        <div class="col-1"></div>
        <div class="col-5 salts_text">
            <label class="title_font fr_serv_one" data-aos="fade-down" data-aos-delay="200" data-aos-once="true">Entrenamientos y Certificaciones</label>
            <br><br>
            <div class="items" data-aos="fade-up-right" data-aos-delay="200" data-aos-once="true">
                <span class="dot_serv_three">
                    <img class="icn_entre" src="static/icons/border_color.png">
                </span>
                <label class="fr_rec_entre">Nuestra capacitación está diseñada con base en un análisis previo enfocado a sus objetivos.</label>
            </div>
            <div class="items" data-aos="fade-up-right" data-aos-delay="200" data-aos-once="true">
                <span class="dot_serv_three">
                    <img class="icn_entre" src="static/icons/school.png">
                </span>
                <label class="fr_rec_entre">Contamos con un equipo de expertos en lubricación con una sólida trayectoria.</label>
            </div>
            <div class="items" data-aos="fade-up-right" data-aos-delay="200" data-aos-once="true">
                <span class="dot_serv_three">
                    <img class="icn_entre" src="static/icons/license.png">
                </span>
                <label class="fr_rec_entre" data-aos="zoom-out" data-aos-delay="200" data-aos-once="true">
                    Nos esforzamos por proporcionar una experiencia que transforme y eleve el rendimiento de su equipo.
                </label>
            </div>
            <div class="rectan_entren row row-cols-3" data-aos="fade-up-left" data-aos-delay="200" data-aos-once="true">
                <div class="col align_fr">
                    <label class="fr_entre" data-aos="flip-up" data-aos-delay="300" data-aos-once="true">Sesiones <br>flexibles</label>
                </div>
                <div class="col align_fr">
                    <label class="fr_entre" data-aos="flip-up" data-aos-delay="400" data-aos-once="true">Clase <br>Mundial</label>
                </div>
                <div class="col align_fr">
                    <label class="fr_entre" data-aos="flip-up" data-aos-delay="500" data-aos-once="true">Aprendizaje Asegurado</label>
                </div>
            </div>
            <div class="linea lin_one_pos" data-aos="fade-up-left" data-aos-delay="200" data-aos-once="true"></div>
            <div class="linea lin_two_pos" data-aos="fade-up-left" data-aos-delay="200" data-aos-once="true"></div>
        </div>
        <button class="btn btn_serv btn_pos_entre" data-aos="flip-right" data-aos-delay="200" data-aos-once="true">Ver más</button>
    </div>
    <br><br><br>
    <label class="title_font fr_logos alineamiento" style="font-size: 50px; margin-left: 14%;" data-aos="zoom-out-up" data-aos-delay="200" data-aos-once="true">
        Aprende ahora. Soporte gratis 1 mes <br>post-entrenamiento.
    </label>
</div>

<br><br><br>
<div id="serv_four">
    <div class="surface row row-cols-12" style="background-color: #D46E6E;">
        <div class="col-4 div_style_one">
            <label class="title_font fr_serv_four" data-aos="fade-down" data-aos-delay="100" data-aos-once="true">Servicios Adicionales</label>
            <p class="par_serv parr_style" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
                Lorem ipsum dolor sit amet. Nam voluptatem consequatur ut nemo quia est error nihil. ¿Aut rerum quaerat ea nesciunt aspernatur 
                quo itaque debitis? Vel quia cupiditate et alias dolor sit necessitatibus ducimus qui voluptatem fugiat.
            </p>
            <button class="btn btn_serv_four" data-aos="flip-down" data-aos-delay="100" data-aos-once="true">Ver todos</button>
        </div>
        <div class="col-8 div_style" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
            <div id="carouselExampleControls" class="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="static/img/WhatsApp Image 2024-03-04 at 1.10 1.png" class="d-block w-100">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Análisis integral de problemas en lubricación</h5>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="static/img/WhatsApp Image 2024-03-04 at 1.57 1.png" class="d-block w-100">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Programa de análisis de lubricantes.</h5>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="static/img/WhatsApp Image 2024-03-04 at 1.57 2.png" class="d-block w-100">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Sumnistro de periféricos y accesorios</h5>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="static/img/WhatsApp Image 2024-03-04 at 1.57.33 PM.png" class="d-block w-100">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Diseño e implementacion de almacén y lubricantes</h5>
                        </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>

<br><br><br>
<div id="industrias">
    <label class="title_font fr_logos alineamiento" style="margin-left: 23%;" data-aos="fade-down" data-aos-delay="100" data-aos-once="true">Industrias que atendemos.</label>
    <br><br>
    <div class="surface_indus row row-cols-12">
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <div class="cuadrado">
                        <img src="static/icons/acero icon.png"/>
                        <br>
                        <label class="tit_slider">Acero</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/cantera icon.png"/>
                        <label class="tit_slider">Cantera</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/ppapel icon.png"/>
                        <label class="tit_slider">Pulpa y papel</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/plastico icon.png"/>
                        <label class="tit_slider">Inyección de Plástico</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/manufactura icon.png"/>
                        <label class="tit_slider" style="margin-left: -5%;">Manufactura en general</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/mineria icon.png"/>
                        <label class="tit_slider">Minería</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/energia icon.png"/>
                        <label class="tit_slider">Energía</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/cemento.png" width="50" height="50"/>
                        <label class="tit_slider">Cemento</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/automotriz.png" width="50" height="50"/>
                        <label class="tit_slider">Automotriz</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/transporte_de_carga_y_pasajeros.png" width="50" height="50"/>
                        <label class="tit_slider" style="font-size: 15px;">Transporte de carga y pasajeros</label>
                    </div>
                </div>
                <div class="slide">
                    <div class="cuadrado">
                        <img src="static/icons/acero icon.png"/>
                        <br>
                        <label class="tit_slider">Acero</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/cantera icon.png"/>
                        <label class="tit_slider">Cantera</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/ppapel icon.png"/>
                        <label class="tit_slider">Pulpa y papel</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/plastico icon.png"/>
                        <label class="tit_slider">Inyección de Plástico</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/manufactura icon.png"/>
                        <label class="tit_slider" style="margin-left: -5%;">Manufactura en general</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/mineria icon.png"/>
                        <label class="tit_slider">Minería</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/energia icon.png"/>
                        <label class="tit_slider">Energía</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/cemento.png" width="50" height="50"/>
                        <label class="tit_slider">Cemento</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/automotriz.png" width="50" height="50"/>
                        <label class="tit_slider">Automotriz</label>
                    </div>
                </div>
                <div class="slide">
                     <div class="cuadrado">
                        <img src="static/icons/transporte_de_carga_y_pasajeros.png" width="50" height="50"/>
                        <label class="tit_slider" style="font-size: 15px;">Transporte de carga y pasajeros</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>
<div id="contacto">
    <label class="title_font fr_logos alineamiento" data-aos="zoom-out" data-aos-delay="100" data-aos-once="true">
        Si está buscando mejorar la eficiencia de la lubricación en su planta; Nos encantaría ofrecerle un diagnóstico personalizado.
    </label>
    <div class="surface_contact row row-cols-12">
        <div class="col-5"></div>
        <div class="col-6 div_form">
            <label class="title_font fr_contact" data-aos="flip-down" data-aos-delay="100" data-aos-once="true">¡Contáctenos!</label>
                <form action="/Email" class="form" id="formulario_con" name="formulario_con" method="POST" data-aos="flip-right" data-aos-delay="300" data-aos-once="true">
                    {% csrf_token %}
                    <div class="inputContainer">
                        <input type="text" id="nombre" name="nombre" class="input" placeholder="a" required>
                        <label for="" class="label">Nombre Completo</label>
                    </div>
                    <div class="inputContainer">
                        <input type="email" id="email" name="email" class="input" placeholder="a" required>
                        <label for="" class="label">Email (ej. ejemplo@ejemplo.com)</label>
                    </div>
                    <div class="row row-cols-12">
                        <div class="col-6">
                            <div class="inputContainer">
                                <input type="tel" id="telefono" name="telefono" class="input" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="a" required>
                                <label for="" class="label">Teléfono (ej. 123-456-7890)</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="inputContainer">
                                <input type="text" id="compania" name="compania" class="input" placeholder="a" required>
                                <label for="" class="label">Compañía (ej. Compañia S.A. de C.V.)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-12">
                        <div class="col-5">
                            <div class="inputContainer">
                                <select id="estado" name="estado" class="input" aria-placeholder="a" required>
                                    <option value="no" selected>Seleccione uno...</option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California</option>
                                    <option value="Baja California Sur">Baja California Sur</option>
                                    <option value="Campeche">Campeche</option>
                                    <option value="Chiapas">Chiapas</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="CDMX">Ciudad de México</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Colima">Colima</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Estado de México">Estado de México</option>
                                    <option value="Guanajuato">Guanajuato</option>
                                    <option value="Guerrero">Guerrero</option>
                                    <option value="Hidalgo">Hidalgo</option>
                                    <option value="Jalisco">Jalisco</option>
                                    <option value="Michoacán">Michoacán</option>
                                    <option value="Morelos">Morelos</option>
                                    <option value="Nayarit">Nayarit</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                    <option value="Oaxaca">Oaxaca</option>
                                    <option value="Puebla">Puebla</option>
                                    <option value="Querétaro">Querétaro</option>
                                    <option value="Quintana Roo">Quintana Roo</option>
                                    <option value="San Luis Potosí">San Luis Potosí</option>
                                    <option value="Sinaloa">Sinaloa</option>
                                    <option value="Sonora">Sonora</option>
                                    <option value="Tabasco">Tabasco</option>
                                    <option value="Tamaulipas">Tamaulipas</option>
                                    <option value="Tlaxcala">Tlaxcala</option>
                                    <option value="Veracruz">Veracruz</option>
                                    <option value="Yucatán">Yucatán</option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>
                                <label for="" class="label">Estado</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="inputContainer">
                                <select id="industria" name="industria" class="input" aria-placeholder="a" required>
                                    <option value="no" selected>Seleccione uno...</option>
                                    <option value="Acero">Acero</option>
                                    <option value="Automotriz">Automotriz</option>
                                    <option value="Cantera">Cantera</option>
                                    <option value="Cemento">Cemento</option>
                                    <option value="Energía">Energía</option>
                                    <option value="Inyección_de_plástico">Inyección de plástico</option>
                                    <option value="Manufactura_en_general">Manufactura en general</option>
                                    <option value="Minería">Minería</option>
                                    <option value="Papel_y_pulpa">Papel y pulpa</option>
                                    <option value="Transporte_descarga_y_pasajeros">Transporte descarga y pasajeros</option>
                                    <option value="Otros">Otros</option>
                                </select>
                                <label for="" class="label">Industria</label>
                            </div>
                        </div>
                    </div>
                    <div class="inputContainer">
                        <textarea id="msj" name="msj" class="textarea" rows="5" cols="5" required></textarea>
                        <label for="" class="label-txt">¿En qué podemos ayudarle?</label>
                    </div>
                    <button class="btn btn_serv aln_btn">Envíar&nbsp;&nbsp;<img src="static/icons/send.png"></button>
                </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#date').datepicker({
            uiLibrary: 'bootstrap5',
            language: 'es',
            closeText: 'Cerrar',
            prevText: 'Ant',
            nextText: 'Sig',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            autoclose: true,
            orientation: 'bottom',
        });
        $('#date').focusin(function() {
            $('.input-icon-repo').css('color', 'red');
        });
        $('#date').focusout(function() {
            $('.input-icon-repo').css('color', '#a1a1a1');
        });
    });

    function ver() {
        $('.sub_frase').show();
        $('.btn-2').hide();
    }

    //Envía el submit del form sin actualizar la pagina(ajax)
    $('#formulario_con').on('submit', function(event) {
        event.preventDefault();
        $.ajax({
            type: $(this).prop('method'),
            url: '/Email',
            data: $(this).serialize(),
            success: function() {
                ver();
            },
            error: function() {
            }
        });
    });

    var carouselWidth = $(".carousel-inner")[0].scrollWidth;
    var cardWidth = $(".carousel-item").width();
    var scrollPosition = 0;
    $(".carousel-control-next").on("click", function () {
        if (scrollPosition < (carouselWidth - cardWidth * 4)) { //check if you can go any further
            scrollPosition += cardWidth;  //update scroll position
            $(".carousel-inner").animate({ scrollLeft: scrollPosition },600); //scroll left
        }
    });

    $(".carousel-control-prev").on("click", function () {
        if (scrollPosition > 0) {
            scrollPosition -= cardWidth;
            $(".carousel-inner").animate(
            { scrollLeft: scrollPosition },
            600
            );
        }
    });

    var multipleCardCarousel = document.querySelector("#carouselExampleControls");
    if (window.matchMedia("(min-width: 768px)").matches) {
        //rest of the code
        var carousel = new bootstrap.Carousel(multipleCardCarousel, {
            interval: false
        });
    } else {
        $(multipleCardCarousel).addClass("slide");
    }

    var carousel = new bootstrap.Carousel(multipleCardCarousel, {
        interval: false,
        wrap: false,
    });
</script>
{% endblock %}